* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    grid-template: 1.2fr 0.5fr 4fr 2fr / auto 2fr 1fr;
}

header {
    grid-column: 1 / 4;
    background: #444;
}

header p {
    color: #fff;
    padding: 1rem;
}

nav {
    grid-column: 1 / 4;
}

nav ul {
    display: flex;
    background: #000;
    padding: 1rem;
    height: 100%;
    justify-content: space-evenly;
}

nav ul li {
    margin: auto
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    grid-column: 1 / 3;
    background: #ccc;
    padding: 1rem;
}

aside {
    grid-column: 3 / 4;
    padding: 1rem;
}

footer {
    background: #444;
    grid-column: 1 / 4;
    padding: 1rem;
    color: #fff;
}