@media screen and (min-width: 800px) {
    main {
        max-width: 1280px;
    }

    #menu {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 3fr 2fr 1fr;
    }

    nav {
        display: flex;
    }
}