/* variables */
:root {
    --main-hd-color: #238ad9;
    --main-font-color: #eee;
    --secondary-font-color: #111;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    text-align: center;
    background: #111;
    color: var(--main-font-color);
    font-size: 1em;
    padding: .8rem;
}

nav {
    justify-content: space-evenly;
    grid-column: 2;
    display: none;
}

nav.open {
    display: flex;
    flex-direction: column;
}

nav a {
    color: var(--main-font-color);
    text-decoration: none;
    background: #111;
    font-weight: 400;
    padding: 1rem;
}

nav a:hover {
    text-decoration: overline;
}

main {
    max-width: 850px;
    margin: 0 auto;
}

main h2 {
    color: var(--secondary-font-color);
    text-align: center;
    padding: 2rem;
    font-size: 2em;
}

.fig-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 0.5rem;
    place-items: center;
}

#menu {
    background-color: #111;
    color: var(--main-font-color);
    font-size: 25px;
    border: none;
    position: absolute;
    top: 15px;
    right: 20px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X"
}

footer {
    margin-top: 1rem;
    background: #111;
    text-align: center;
    font-size: 1.5em;
    padding: 1rem;
    color: var(--main-font-color);
    font-weight: 400;
}